[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
  --heading-color: black;
}

[data-theme="dark"] {
  --bg-color: rgb(0, 0, 0);
  --text-color: rgb(255, 238, 238);
  --heading-color: rgb(255, 255, 255);
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0 30px;
}

h1 {
  color: var(--heading-color);

}

.Navbar div {
  display: flex;

  gap: 10px;
  /* background-color: rgb(0, 0, 0); */
  padding: 10px;
  margin: 10px;
  justify-content: end;
  border-radius: 10px;

}


.Link {
  background-color: rgb(205, 156, 156);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;

}